<div class="page-header">
    <h1>모델 등록</h1>
</div>
<div class="page-body">
    <div class="gf-form-group">
        <div class="gf-form">
            <span class="gf-form-label">모델 이름</span>
            <input class="gf-form-input edit_insert_box" type="text" ng-model="insertmodelName" />
            <button type="submit" class="btn btn-success btn_insert_width" ng-click="ctrl.addInsertModel(insertmodelName)">등록</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>