<div class="page-body">
    <div class="gf-form-group" style="margin-top:2%;">
        <div class="gf-form">
            <span class="gf-form-label">검사 항목</span>
            <div class="gf-form--grow">
                <input class="gf-form-input" type="text" ng-model="inspectionName" />
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="gf-form--grow">
                <input class="gf-form-input" type="text" ng-model="inspectionField" />
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="gf-form--grow" style='.gf-form-button-row = 0;'>
                    <button type="submit" class="btn btn-success" ng-click="ctrl.addInspectionItem(inspectionName, inspectionField)">등록</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>