@import '../vendor/mds_customs/isteven-angular-multiselect/isteven-multi-select.css';

#rs-memo-input {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.rms-app-monitor-facility-defect {
    width: 100%;
    height: 100%;
}

.thingspin-rms-monitor-factory {
    width: 100%;
    height: 100%;
}

.gf-form {
    align-items: start;
}

.rms.gf-form-input {
    padding: 0;
    border: 0;
}

.rms-model-spec {
    height: 100%;
    overflow: auto;
}
