<div class="modal-body">
        <div class="modal-header">
            <h2 class="modal-header-title">
                <i class="fa fa-list"></i>
                <span class="p-l-1">점검 내용</span>
            </h2>
    
            <a class="modal-header-close" ng-click="dismiss();">
                <i class="fa fa-remove"></i>
            </a>
        </div>
    
        <div class="modal-content">
            <table class="filter-table">
                <thead>
                    <tr>
                        <th> INDEX </th> <th> Description </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in model.showObj.DESCRIPTION">
                        <td>{{$index+1}}</td> <td>{{list[0]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>