<div class="modal-body">
    <div class="modal-header">
        <h2 class="modal-header-title">
            <i class="fa fa-list"></i>
            <span class="p-l-1">적용된 모델 리스트</span>
        </h2>

        <a class="modal-header-close" ng-click="dismiss();">
            <i class="fa fa-remove"></i>
        </a>
    </div>

    <div class="modal-content">
        <table class="filter-table">
            <thead>
                <tr>
                    <th> ID </th> <th> DESC </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="list in model.showObj.MODELS">
                    <td>{{list.ID}}</td> <td>{{list.DESC}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>