<div class="page-in-fullscreen">
    <div ng-switch on='ctrl.mode'>
        <div class="page-container-fluid" ng-switch-default>
            <div class="page-in-fullscreen page-header gf-form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-large btn-primary" ng-click="ctrl.deleteAIA()" ng-show="ctrl.enEtcMenu">삭제</button>
                    <button type="button" class="btn btn-large btn-primary" ng-click="ctrl.setMode = 'edit'" ng-show="ctrl.enEtcMenu">수정</button>
                    <button type="submit" class="btn btn-large btn-primary" ng-click="ctrl.setMode = 'new'">신규등록</button>
                </div>
            </div>
            <div class="page-body" >
                <div class="gf-form-group status-table" >
                    <h5 class="section-heading"> 검사 항목 리스트 </h5>
                    <div id="aiaTable" ng-init="ctrl.initAIATable()"></div>
                    <!-- <table class="filter-table">
                        <thead>
                            <tr>
                                <th> </th> <th> 검사 구분 </th> <th> 검사 항목 </th> <th> 검사 대상 </th> <th> 감지조건 </th> <th> 점검내용 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in ctrl.aiaList">
                                <td><input type="radio" name="selectedObj" ng-model="selectedObj" ng-value="list" ng-change="ctrl.showEtcMenu(selectedObj)"></td>
                                <td>{{list.IT_NAME}}</td> <td>{{list.IP_NAME}}</td> 
                                <td><a ng-click="ctrl.showSelectedModel(list, './modelModal.html')">click</a></td>
                                <td> 
                                    <div ng-if="list.JSON_DATA.CONT_FAIL">연속불량 : {{list.JSON_DATA.CONT_FAIL.COUNT}} 회 </div>
                                    <div ng-if="list.JSON_DATA.CPK">CPK : {{list.JSON_DATA.CPK.LSL}} 이상 {{list.JSON_DATA.CPK.USL}} 미만</div>
                                </td>
                                <td><a ng-click="ctrl.showSelectedMemo(list, './memoModal.html')">click</a></td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    
        <div class="page-container" ng-switch-when="new">
            <div class="page-header">
                <h1>신규 사전 조치 등록</h1>
            </div>
            <div class="page-body">
                <div class="gf-form-group">
                    <div class="gf-form-inline">
                        <div class="gf-form">
                            <span class="gf-form-label width-10">검사 종류</span>
                            <div isteven-multi-select class="istevenMultiSelect"
                                input-model="ctrl.IT_LIST" output-model="it"
                                button-label="icon name" item-label="icon name maker" tick-property="ticked"
                                selection-mode="single"
                            > </div>
                        </div>
                        <div class="gf-form">
                            <span class="gf-form-label width-10">검사 항목</span>
                            <div isteven-multi-select class="istevenMultiSelect"
                                input-model="ctrl.IP_LIST" output-model="ip"
                                button-label="icon name" item-label="icon name maker" tick-property="ticked"
                                selection-mode="single"
                                on-item-click="ctrl.changeIP(ip)"
                                on-reset="ctrl.changeIP(ip)"
                                on-confirm="ctrl.changeIP(ip)"
                            > </div>
                        </div>
                        <div class="gf-form">
                            <span class="gf-form-label width-10">감지 조건</span>
                            <div isteven-multi-select class="istevenMultiSelect"
                                input-model="ctrl.PerceptionConditions" output-model="perceptionCond"
                                button-label="icon name" item-label="icon name maker" tick-property="ticked"
                                on-item-click="ctrl.changedPerceptionCond(perceptionCond)"
                                on-select-all="ctrl.changedPerceptionCond(perceptionCond)"
                                on-select-none="ctrl.changedPerceptionCond(perceptionCond)"
                                on-reset="ctrl.changedPerceptionCond(perceptionCond)"
                                on-confirm="ctrl.changedPerceptionCond(perceptionCond)"
                            > </div>
                        </div>
    
                        <div class="gf-form" ng-if="ctrl.enContinuousFailure">
                            <span class="gf-form-label width-10">연속 불량 횟수</span>
                            <input class="gf-form-input width-30" type="number" ng-model="ctrl.continuousFailure" ng-model-onblur ng-change="ctrl.refresh()">
                        </div>
                        <div class="gf-form" ng-if="ctrl.enCPK">
                            <span class="gf-form-label width-10">CPK</span>
                            <div class="gf-form">
                                <div class="gf-form">
                                    <span class="gf-form-label width-6">최소</span>
                                    <input class="gf-form-input width-8" type="number" ng-model="ctrl.cpk.min" />
                                </div>
                                <div class="gf-form">
                                    <span class="gf-form-label width-6">최대</span>
                                    <input class="gf-form-input width-8" type="number" ng-model="ctrl.cpk.max" />
                                </div>
                            </div>
                        </div>
    
                        <div class="gf-form">
                            <span class="gf-form-label width-10">조치</span>
                            <div isteven-multi-select class="istevenMultiSelect"
                                input-model="ctrl.actionList" output-model="selectedActions"
                                button-label="icon name" item-label="icon name maker" tick-property="ticked"
                                selection-mode="single"
                            > </div>
                        </div>
                        <div class="gf-form">
                            <span class="gf-form-label width-10">적용 모델</span>
                            <div isteven-multi-select class="istevenMultiSelect"
                                input-model="ctrl.modelList" output-model="applyModels"
                                button-label="icon name" item-label="icon name maker" tick-property="ticked"
                                selection-mode="single"
                            > </div>
                        </div>
    
                        
                        <div class="gf-form">
                            <span class="gf-form-label width-10">점검 내용</span>
                            <div class="gf-form">
                                <div id="rs-memo-input" ng-init="ctrl.memoInit()"></div>
                            </div>
                        </div>

                        <div class="gf-form">
                            <gf-form-switch class="gf-form" label-class="width-10" label="설비 점검" checked="ctrl.enCheckFacilities">
                            </gf-form-switch>
                        </div>
    
                        <div class="gf-form-button-row">
                            <button type="button" class="btn btn-success" ng-click="ctrl.addAIA(it, ip, perceptionCond, selectedActions, applyModels)">등록</button>
                            <a class="btn btn-link" ng-click="ctrl.setMode = 'list'">Back</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="page-container" ng-switch-when="edit">
            <div class="page-header">
                <h1>신규 사전 조치 수정</h1>
            </div>
            <div class="page-body">
                    <div class="gf-form-group">
                        <div class="gf-form-inline">
                            <div class="gf-form">
                                <span class="gf-form-label width-10">검사 종류</span>
                                <div isteven-multi-select class="istevenMultiSelect"
                                    input-model="ctrl.IT_LIST" output-model="it"
                                    button-label="icon name" item-label="icon name maker" tick-property="ticked"
                                    selection-mode="single"
                                > </div>
                            </div>
                            <div class="gf-form">
                                <span class="gf-form-label width-10">검사 항목</span>
                                <div isteven-multi-select class="istevenMultiSelect"
                                    input-model="ctrl.IP_LIST" output-model="ip"
                                    button-label="icon name" item-label="icon name maker" tick-property="ticked"
                                    selection-mode="single"
                                    on-item-click="ctrl.changeIP(ip)"
                                    on-reset="ctrl.changeIP(ip)"
                                    on-confirm="ctrl.changeIP(ip)"
                                > </div>
                            </div>
                            <div class="gf-form">
                                <span class="gf-form-label width-10">감지 조건</span>
                                <div isteven-multi-select class="istevenMultiSelect"
                                    input-model="ctrl.PerceptionConditions" output-model="perceptionCond"
                                    button-label="icon name" item-label="icon name maker" tick-property="ticked"
                                    on-item-click="ctrl.changedPerceptionCond(perceptionCond)"
                                    on-select-all="ctrl.changedPerceptionCond(perceptionCond)"
                                    on-select-none="ctrl.changedPerceptionCond(perceptionCond)"
                                    on-reset="ctrl.changedPerceptionCond(perceptionCond)"
                                    on-confirm="ctrl.changedPerceptionCond(perceptionCond)"
                                > </div>
                            </div>
        
                            <div class="gf-form" ng-if="ctrl.enContinuousFailure">
                                <span class="gf-form-label width-10">연속 불량 횟수</span>
                                <input class="gf-form-input width-30" type="number" ng-model="ctrl.continuousFailure" ng-model-onblur ng-change="ctrl.refresh()">
                            </div>
                            <div class="gf-form" ng-if="ctrl.enCPK">
                                <span class="gf-form-label width-10">CPK</span>
                                <div class="gf-form">
                                    <div class="gf-form">
                                        <span class="gf-form-label width-6">최소</span>
                                        <input class="gf-form-input width-8" type="number" ng-model="ctrl.cpk.min" />
                                    </div>
                                    <div class="gf-form">
                                        <span class="gf-form-label width-6">최대</span>
                                        <input class="gf-form-input width-8" type="number" ng-model="ctrl.cpk.max" />
                                    </div>
                                </div>
                            </div>
        
                            <div class="gf-form">
                                <span class="gf-form-label width-10">조치</span>
                                <div isteven-multi-select class="istevenMultiSelect"
                                    input-model="ctrl.actionList" output-model="selectedActions"
                                    button-label="icon name" item-label="icon name maker" tick-property="ticked"
                                    selection-mode="single"
                                > </div>
                            </div>
                            <div class="gf-form">
                                <span class="gf-form-label width-10">적용 모델</span>
                                <div isteven-multi-select class="istevenMultiSelect"
                                    input-model="ctrl.modelList" output-model="applyModels"
                                    button-label="icon name" item-label="icon name maker" tick-property="ticked"
                                > </div>
                            </div>
        
                            <div class="gf-form">
                                <span class="gf-form-label width-10">점검 내용</span>
                                <div class="gf-form">
                                    <div id="rs-memo-input" ng-init="ctrl.memoInit()"></div>
                                </div>
                            </div>
    
                            <div class="gf-form">
                                <gf-form-switch class="gf-form" label-class="width-10" label="설비 점검" checked="ctrl.enCheckFacilities">
                                </gf-form-switch>
                            </div>
        
                            <div class="gf-form-button-row">
                                <button type="button" class="btn btn-success" ng-click="ctrl.editAIA(it, ip, perceptionCond, selectedActions, applyModels)">수정</button>
                                <a class="btn btn-link" ng-click="ctrl.setMode = 'list'">Back</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    