<div class="page-header">
	<h1>데이터 소스</h1>
	<a class="btn btn-success" href="/datasources/new" ng-show="ctrl.isOrgEditor">
		<i class="fa fa-plus"></i>
		새로만들기
	</a>
</div>

<div ng-if="!ctrl.pageReady">
	... 로딩 ...
</div>

<div ng-if="ctrl.pageReady">
	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th style="width: 80%">Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr class="dashlist-item" ng-repeat="ds in ctrl.dsList">
				<td style="font-size: 1.3rem; padding: 0">
					<a style="display: block; padding: 15px; height: 100%;" href="/datasources/edit/{{ds.id}}">
						{{ds.name}}
					</a>
				</td>
				<td class="text-right">
					<a ng-click="ctrl.deleteDs(ds)" class="btn btn-danger btn-mini">
						<i class="fa fa-trash"></i>
					</a>
					<input type="radio" ng-model="ctrl.appModel.jsonData.datasourceID" value="{{ds.id}}" />
				</td>
			</tr>
		</tbody>
	</table>

	<div ng-if="ctrl.dsList.length === 0">
		<div style="text-align: center; padding-top: 90px; min-height: 220px; min-width: 400px;  margin: 0 auto;">
			<i ng-class="icon" class="icon-gf icon-gf-endpoint no-endpoints"></i>
			<p ng-if="ctrl.isOrgEditor">아직, 데이터베이스 연결이 설정되지 않았습니다.
				<br>
				<a class="highlight-word" href="/datasources/new">데이터 연결 새로 만들기</a>
			</p>
			<p ng-if="!ctrl.isOrgEditor">아직, 데이터베이스 연결이 설정되지 않았습니다. 관리자에게 연락하시기 바랍니다.
			</p>
		</div>
	</div>
</div>