<div class="editor-row">
        <div class="section gf-form-group">
            <div class="gf-form">
                <label class="gf-form-label width-6">모델명</label>
                <input type="text" class="gf-form-input min-width-15 width-15" ng-model="ctrl.panel.inputlItem.mold_name">
            </div>

            <div class="gf-form">
                <label class="gf-form-label width-6">업체명</label>
                <div class="gf-form-select-wrapper">
                        <select class="gf-form-input min-width-15 width-15" 
                            ng-model="ctrl.panel.inputlItem.business_name"
                            ng-options="f for f in ctrl.panel.businessCategory">
                        </select>
                </div>                    
            </div>             
        </div>
        
        <div class="section gf-form-group">
            <div class="gf-form">
                <label class="gf-form-label width-6">사용횟수</label>
                <input type="text" class="gf-form-input min-width-15 width-15" ng-model="ctrl.panel.inputlItem.use_count">
            </div>

            <div class="gf-form">
                <label class="gf-form-label width-6">교체주기</label>
                <input type="text" class="gf-form-input min-width-15 width-15" ng-model="ctrl.panel.inputlItem.period">
            </div>

            <div class="gf-form">
                <label class="gf-form-label width-6">교체일</label>
                <input type="date" class="gf-form-input min-width-15 width-15" ng-model="ctrl.panel.inputlItem.change_date">
            </div>
        </div>

        <div class="section gf-form-group">
            <div class="gf-form">
                <label class="gf-form-label width-6">메모</label>
                <input type="text" class="gf-form-input min-width-15 width-15" ng-model="ctrl.panel.inputlItem.memo">
            </div>            
            
            <div class="gf-form">
                <button class="btn btn-success min-width-7 width-7" ng-click="ctrl.onNew()">
                    등록
                </button>
                <button class="btn btn-success min-width-7 width-7" ng-click="ctrl.onEdit()">
                    수정
                </button>
                <button class="btn btn-success min-width-7 width-7" ng-click="ctrl.onDel()">
                    삭제
                </button>
            </div>
        </div>
    </div>
    
    <div class="editor-row">
        <div class="thingspin-table"></div>
    </div>
    