<div ng-switch on='ctrl.mode'>
    <div ng-switch-when="showBtn">
        <button type="submit" class="btn rm-btn-insert-box" ng-click="ctrl.showCtrlMode('new')">신규 등록</button>
     </div>
    <div class="section rm-insert-form" ng-show='1' ng-switch-when="new">
        <button class="fa fa fa-remove rm-btn-window-exit-box" ng-click="ctrl.close()" />
        <div class="col rm-content-area">
            <label class="rm-label-margin">리모트 모델명</label>
            <input type="text" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.panel.inputlItem.remote_model" placeholder="리모컨 모델명" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div>
        <div class="col rm-content-area">
            <label class="rm-label-margin">금형 교체주기</label>
            <input type="number" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.panel.inputlItem.change_period" placeholder="금형 교체주기" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">남은 사용횟수</label>
            <input type="number" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.panel.inputlItem.use_count" placeholder="남은 사용횟수" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">금형업체명</label>
            <input type="text" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.panel.inputlItem.business_name" placeholder="금형업체명" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">메모(담당자, 전화번호)</label>
            <input type="text" class="gf-form-input width-16 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.panel.inputlItem.memo" placeholder="메모(담당자, 전화번호)" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div>
        <button class="btn rm-btn-data-insert-box" ng-click="ctrl.onNew(ctrl.panel.inputlItem)">
            등록
        </button>
    </div>
    <div class="section rm-insert-form" ng-show='1' ng-switch-when="edit">
        <button class="fa fa fa-remove rm-btn-window-exit-box" ng-click="ctrl.close()" />
        <div class="col rm-content-area">
            <label class="rm-label-margin">리모트 모델명</label>
            <input type="text" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.panel.inputlItem.remote_model" placeholder="리모컨 모델명" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div>
        <div class="col rm-content-area">
            <label class="rm-label-margin">금형 교체주기</label>
            <input type="number" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.panel.inputlItem.change_period" placeholder="금형 교체주기" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">남은 사용횟수</label>
            <input type="number" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.panel.inputlItem.use_count" placeholder="남은 사용횟수" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">금형업체명</label>
            <input type="text" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.panel.inputlItem.business_name" placeholder="금형업체명" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">메모(담당자, 전화번호)</label>
            <input type="text" class="gf-form-input width-16 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.panel.inputlItem.memo" placeholder="메모(담당자, 전화번호)" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div>
        <button class="btn rm-btn-data-insert-box" ng-click="ctrl.onDel(ctrl.panel.inputlItem)">
            삭제
        </button>
        <button class="btn rm-btn-data-insert-box" ng-click="ctrl.onEdit(ctrl.panel.inputlItem)">
            변경
        </button>
    </div>    
    <div class="editor-row rm-table-form">
        <div class="thingspin-table"></div>
    </div>
    <br></br>       
</div>


<!-- <div ng-switch on='ctrl.mode'>
    <div ng-switch-when="showBtn">
        <button type="submit" class="btn btn-primary" ng-click="ctrl.showCtrlMode('new')">신규 등록</button>
        <br></br>
    </div>
    <div class="editor-row">
        <div class="thingspin-table"></div>
    </div>
    <br></br>    
    <div class="section gf-form-group" ng-show='1' ng-switch-when="new">
        <div class="gf-form">
            <label class="gf-form-label width-6">모델명</label>
            <input type="text" class="gf-form-input min-width-15 width-15" placeholder="모델명" ng-model="ctrl.panel.inputlItem.mold_name">
        </div>

        <div class="gf-form">
            <label class="gf-form-label width-6">업체명</label>
            <div class="gf-form-select-wrapper">
                    <select class="gf-form-input min-width-15 width-15" placeholder="업체명" 
                        ng-model="ctrl.panel.inputlItem.business_name"
                        ng-options="f for f in ctrl.panel.businessCategory">
                    </select>
            </div>                    
        </div>             
    </div>
    
    <div class="section gf-form-group" ng-show='1' ng-switch-when="new|edit" ng-switch-when-separator="|">
        <div class="gf-form">
            <label class="gf-form-label width-6">사용횟수</label>
            <input type="text" class="gf-form-input min-width-15 width-15" placeholder="사용횟수" ng-model="ctrl.panel.inputlItem.use_count">
        </div>

        <div class="gf-form">
            <label class="gf-form-label width-6">교체주기</label>
            <input type="text" class="gf-form-input min-width-15 width-15" placeholder="교체주기" ng-model="ctrl.panel.inputlItem.period">
        </div>

        <div class="gf-form">
            <label class="gf-form-label width-6">교체일</label>
            <input type="date" class="gf-form-input min-width-15 width-15" placeholder="교체일" ng-model="ctrl.panel.inputlItem.change_date">
        </div>
    </div>

    <div class="section gf-form-group" ng-show='1' ng-switch-when="new">
        <div class="gf-form">
            <label class="gf-form-label width-6">메모</label>
            <input type="text" class="gf-form-input min-width-15 width-15" placeholder="메모" ng-model="ctrl.panel.inputlItem.memo">
        </div>            
        
        <div class="gf-form">
            <button class="btn btn-success min-width-11 width-11" ng-click="ctrl.onNew()">
                신규 등록
            </button>
            &nbsp;
            <button class="btn btn-success min-width-10 width-10" ng-click="ctrl.close()">
                창 닫기
            </button>
        </div>
    </div>  

    <div class="section gf-form-group" ng-show='1' ng-switch-when="edit">
        <div class="gf-form">
            <label class="gf-form-label width-6">메모</label>
            <input type="text" class="gf-form-input min-width-15 width-15" placeholder="메모" ng-model="ctrl.panel.inputlItem.memo">
        </div>            
        
        <div class="gf-form">
            <button class="btn btn-success min-width-7 width-7" ng-click="ctrl.onEdit()">
                수정
            </button>
            &nbsp;
            <button class="btn btn-success min-width-7 width-7" ng-click="ctrl.onDel()">
                삭제
            </button>
            &nbsp;
            <button class="btn btn-success min-width-7 width-7" ng-click="ctrl.close()">
                창 닫기
            </button>
        </div>
    </div>
</div> -->