<div ng-switch on='ctrl.mode'>
    <div ng-switch-when="showBtn">
        <button type="submit" class="btn rm-btn-insert-box" ng-click="ctrl.showCtrlMode('new')">신규 등록</button>
     </div>
    <div class="section rm-insert-form" ng-show='1' ng-switch-when="new">
        <button class="fa fa fa-remove rm-btn-window-exit-box" ng-click="ctrl.close()" />
        <div class="col rm-content-area">
            <label class="rm-label-margin">품목</label>
            <input type="text" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.comsumable.name" placeholder="품목" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div>
        <div class="col rm-content-area">
            <label class="rm-label-margin">규격</label>
            <input type="text" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.comsumable.standard" placeholder="규격" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">업체 선택</label>
            <select class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color" ng-model="ctrl.businessSelect" ng-options="opts.name for opts in ctrl.business" required></select>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">안전수량</label>
            <input type="number" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.comsumable.count" placeholder="재고수량" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">교체주기</label>
            <input type="number" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.comsumable.count_time_count" placeholder="교체주기" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">특이사항</label>
            <input type="text" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.comsumable.memo" placeholder="특이사항" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div>
        <button class="btn rm-btn-data-insert-box" ng-click="ctrl.addConsumableItem(ctrl.businessSelect, ctrl.comsumable.name, ctrl.comsumable.standard, ctrl.comsumable.count, ctrl.comsumable.cycle_count, ctrl.comsumable.count_time_count, ctrl.comsumable.memo)">
            등록
        </button>
    </div>
    <div class="section rm-insert-form" ng-show='1' ng-switch-when="edit">
        <button class="fa fa fa-remove rm-btn-window-exit-box" ng-click="ctrl.close()" />
        <div class="col rm-content-area">
            <label class="rm-label-margin">품목</label>
            <input type="text" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.comsumable.name" placeholder="품목" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div>
        <div class="col rm-content-area">
            <label class="rm-label-margin">규격</label>
            <input type="text" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.comsumable.standard" placeholder="규격" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">업체 선택</label>
            <select class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color" ng-model="ctrl.businessSelect" ng-options="opts.name for opts in ctrl.business" required></select>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">안전수량</label>
            <input type="number" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.comsumable.count" placeholder="재고수량" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">교체주기</label>
            <input type="number" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.comsumable.count_time_count" placeholder="교체주기" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div> 
        <div class="col rm-content-area">
            <label class="rm-label-margin">특이사항</label>
            <input type="text" class="gf-form-input width-12 rm-content-center-margin rm-edit-box-color"  data-placement="auto" ng-model="ctrl.comsumable.memo" placeholder="특이사항" ng-blur="ctrl.render()" data-min-length=0 data-items=64 ng-model-onblur>
        </div>
        <button class="btn rm-btn-data-insert-box" ng-click="ctrl.deleteConsumableItem(ctrl.comsumable.name, ctrl.comsumable.standard)">
            삭제
        </button>
        <button class="btn rm-btn-data-insert-box" ng-click="ctrl.updateConsumableItem(ctrl.businessSelect, ctrl.comsumable.name, ctrl.comsumable.standard, ctrl.comsumable.count, ctrl.comsumable.cycle_count, ctrl.comsumable.count_time_count, ctrl.comsumable.memo)">
            변경
        </button>
    </div>    
    <div class="editor-row rm-table-form">
        <div class="thingspin-table"></div>
    </div>
    <br></br>       
</div>