<div class="gf-form-group" style="margin:0px;">
    <div class="gf-form">
        <span class="gf-form-label"></span>
        <div class="gf-form--grow">
            <input class="gf-form-input" type="text" ng-model="inspectionName" />
        </div> 
        <div class="gf-form--grow" ng-style="gf-form-button-row:0;">
            <button type="submit" class="btn btn-success" ng-click="ctrl.addInspectionItem(inspectionName, inspectionField)">등록</button>
        </div>
    </div>
</div>
<div class="thingspin-table"></div>