<div ng-switch on='ctrl.mode'>
    <div class="page-container" ng-switch-default>
        <div class="page-in-fullscreen page-header gf-form-inline">
            <div class="btn-group">
                <button type="button" class="btn btn-large btn-primary" ng-click="ctrl.deleteInspectionItem()" ng-show="ctrl.enEtcMenu">삭제</button>
                <button type="button" class="btn btn-large btn-primary" ng-click="ctrl.setMode('edit')" ng-show="ctrl.enEtcMenu">수정</button>
                <button type="submit" class="btn btn-large btn-primary" ng-click="ctrl.setMode('new')">신규등록</button>
            </div>
        </div>
        <div class="page-body" >
            <div class="section gf-form-group status-table" >
                <h5 class="section-heading"> 검사 항목 리스트 </h5>
                <table class="filter-table">
                    <thead>
                        <tr>
                            <th> </th> <th> ID </th> <th> 항목명 </th> <th> 설명 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in ctrl.inspectList">
                            <td><input type="radio" name="selectedObj" ng-model="selectedObj" ng-value="list" ng-change="ctrl.showEtcMenu(selectedObj)"></td>
                            <td>{{list.IDX}}</td> <td>{{list.NAME}}</td> <td>{{list.DESCRIPTION}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="section gf-form-group status-table" >
                <h5 class="section-heading"> 불량 입력 항목 리스트 </h5>
                <table class="filter-table">
                    <thead>
                        <tr>
                            <th> </th> <th> ID </th> <th> 검사 항목명 </th> <th> 설명 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in ctrl.faultyList">
                            <td><input type="radio" name="selectedObj" ng-model="selectedObj" ng-value="list" ng-change="ctrl.showEtcMenu(selectedObj)"></td>
                            <td>{{list.IDX}}</td> <td>{{list.NAME}}</td> <td>{{list.DESCRIPTION}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="page-container" ng-switch-when="new">
        <div class="page-header">
            <h1>신규 검사항목 등록</h1>
        </div>
        <div class="page-body">
            <div class="gf-form-group">
                <div class="gf-form-inline">
                    <div class="gf-form">
                        <span class="gf-form-label width-10">항목</span>
                        <select class="gf-form-input" ng-model="ipType" ng-options="opts.name for opts in ctrl.ip_class" ng-init="ipType = ctrl.ip_class[0]" required></select>
                    </div>

                    <div class="gf-form">
                        <span class="gf-form-label width-10">검사 항목</span>
                        <input class="gf-form-input width-30" type="text" ng-model="inspectionName" ng-model-onblur ng-change="ctrl.refresh()">
                    </div>
                    <div class="gf-form">
                        <span class="gf-form-label width-10">설명</span>
                        <input class="gf-form-input width-30" type="text" ng-model="description" ng-model-onblur ng-change="ctrl.refresh()" >
                    </div>
                    <div class="gf-form">
                            <span class="gf-form-label width-10">기본 검사치 최소값</span>
                            <input class="gf-form-input width-30" type="number" ng-model="def_min" ng-init="def_min=0" ng-model-onblur ng-change="ctrl.refresh()">
                    </div>
                    <div class="gf-form">
                            <span class="gf-form-label width-10">기본 검사치 최대값</span>
                            <input class="gf-form-input width-30" type="number" ng-model="def_max"  ng-init="def_max=0" ng-model-onblur ng-change="ctrl.refresh()">
                    </div>
                    <div class="gf-form">
                            <span class="gf-form-label width-10">기본 CPK 최소값</span>
                            <input class="gf-form-input width-30" type="number" ng-model="def_cpk_min" ng-init="def_cpk_min=0" ng-model-onblur ng-change="ctrl.refresh()">
                    </div>
                    <div class="gf-form">
                            <span class="gf-form-label width-10">기본 CPK 최소값</span>
                            <input class="gf-form-input width-30" type="number" ng-model="def_cpk_max" ng-init="def_cpk_max=0" ng-model-onblur ng-change="ctrl.refresh()">
                    </div>
                    <div class="gf-form-button-row">
                        <button type="button" class="btn btn-success" ng-click="ctrl.addInspectionItem(ipType, inspectionName, description, def_min, def_max, def_cpk_min, def_cpk_max)">등록</button>
                        <a class="btn btn-link" ng-click="ctrl.setMode('list')">Back</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-container" ng-switch-when="edit">
        <div class="page-header">
            <h1>신규 검사항목 수정</h1>
        </div>
        <div class="page-body">
            <div class="gf-form-group">
                <div class="gf-form-inline">
                    <div class="gf-form">
                        <span class="gf-form-label width-10">검사 항목</span>
                        <input class="gf-form-input width-30" type="text" ng-model="ctrl.selectObj.NAME" ng-model-onblur ng-change="ctrl.refresh()">
                    </div>
                    <div class="gf-form">
                        <span class="gf-form-label width-10">설명</span>
                        <input class="gf-form-input width-30" type="text" ng-model="ctrl.selectObj.DESCRIPTION" ng-model-onblur ng-change="ctrl.refresh()" >
                    </div>
                    <div class="gf-form">
                            <span class="gf-form-label width-10">기본 검사치 최소값</span>
                            <input class="gf-form-input width-30" type="number" ng-model="ctrl.selectObj.DEFAULT_MIN" ng-model-onblur ng-change="ctrl.refresh()">
                    </div>
                    <div class="gf-form">
                            <span class="gf-form-label width-10">기본 검사치 최대값</span>
                            <input class="gf-form-input width-30" type="number" ng-model="ctrl.selectObj.DEFAULT_MAX"  ng-model-onblur ng-change="ctrl.refresh()">
                    </div>
                    <div class="gf-form">
                            <span class="gf-form-label width-10">기본 CPK 최소값</span>
                            <input class="gf-form-input width-30" type="number" ng-model="ctrl.selectObj.DEFAULT_CPK_MIN" ng-model-onblur ng-change="ctrl.refresh()">
                    </div>
                    <div class="gf-form">
                            <span class="gf-form-label width-10">기본 CPK 최소값</span>
                            <input class="gf-form-input width-30" type="number" ng-model="ctrl.selectObj.DEFAULT_CPK_MAX" ng-model-onblur ng-change="ctrl.refresh()">
                    </div>
                    <div class="gf-form-button-row">
                        <button type="button" class="btn btn-success" ng-click="ctrl.updateInspectionItem()">수정</button>
                        <a class="btn btn-link" ng-click="ctrl.setMode('list')">Back</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
